 /* Estilos generales */
 body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

/* Estilos para el detalle del producto */
#detalle-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 30px auto;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
}

#detalle-producto img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#detalle-producto h1 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
    text-transform: capitalize;
}

#detalle-producto p {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
    line-height: 1.6;
}

#detalle-producto p:last-of-type {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.contenedor-boton {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.contenedor-boton {
    width: 15%; /* O el ancho que necesites */
}

button {
    display: block;
    margin: 20px auto; /* Margen automático en los laterales */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.whatsapp-btn img {
    width: 60px;
    height: 60px;
}