 /* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

/* Estilos para el detalle del producto */
#detalle-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 30px auto;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#detalle-producto img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#detalle-producto h1 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
    text-transform: capitalize;
}

#detalle-producto p {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
    line-height: 1.6;
}

#detalle-producto p:last-of-type {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

/* Contenedor del botón */
.contenedor-boton {
    text-align: center;
    width: 100%; /* Aseguramos que ocupe todo el ancho */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    width: 100%; /* Hacemos que el botón ocupe todo el ancho del contenedor */
    max-width: 200px; /* Le damos un ancho máximo en pantallas grandes */
}

button:hover {
    background-color: #2980b9;
}

/* Botón de WhatsApp */
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.whatsapp-btn img {
    width: 60px;
    height: 60px;
}

/* -------------------
RESPONSIVE STYLES
------------------- */
@media (max-width: 768px) {
    /* Para pantallas medianas (tabletas y móviles grandes) */
    #detalle-producto {
        max-width: 100%; /* Ocupar todo el ancho disponible en pantallas más pequeñas */
        padding: 15px;
    }

    #detalle-producto h1 {
        font-size: 1.5em;
    }

    #detalle-producto p {
        font-size: 0.9em;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .whatsapp-btn img {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 480px) {
    /* Para pantallas pequeñas (móviles) */
    body {
        padding: 10px;
    }

    #detalle-producto {
        max-width: 100%;
        padding: 10px;
    }

    #detalle-producto h1 {
        font-size: 1.2em;
    }

    #detalle-producto p {
        font-size: 0.8em;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
        max-width: 100%; /* En pantallas muy pequeñas, el botón será de ancho completo */
    }

    .whatsapp-btn img {
        width: 40px;
        height: 40px;
    }
}
